$main: #7fcfc0;
$secondary: #b25197;

$background: #161616;
$dark_bg: 	 #222;
$font_color: #ddd;
$link_color: #ca8f48;


// See the Pen: https://codepen.io/elifitch/pen/dorXeB/ - Gradient Borders Mixin by Eli Fitch
@mixin gradient-border($color1, $color2, $border-width, $direction) {
  border: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(#{$direction}, $color1 0%, $color2 100%), linear-gradient(#{$direction}, $color1 0%, $color2 100%);
  @if $direction == 'to right' or $direction == 'to left' {
    @if $direction == 'to right' {
      border-left: $border-width solid $color1;
      border-right: $border-width solid $color2;
    } @else {
      border-left: $border-width solid $color2;
      border-right: $border-width solid $color1;
    }
    background-position: 0 0, 0 100%;
    background-size: 100% $border-width;
  }

  @if $direction == 'to top' or $direction == 'to bottom' {
    @if $direction == 'to top' {
      border-top: $border-width solid $color2;
      border-bottom: $border-width solid $color1;
    } @else {
      border-top: $border-width solid $color1;
      border-bottom: $border-width solid $color2;
    }
    background-position: 0 0, 100% 0;
    background-size: $border-width 100%;
  }
}


body,html {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	line-height: 1.8;
	font-size: 12px;
	color: $font_color;
	background-color: $background;
	font-family: 'Noto Serif', serif;
	text-rendering: optimizeLegibility;
}
img {
	display: inline-block;
}
a {
	color: #fff;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
a:hover, a:focus, a:active {
	text-decoration: none;
	color: $link_color;
}
section.full-image {
	background-image:url(../img/pexels-photo-14676.png);
	background-position: center center;
	background-size: cover;
	padding: 30px 0;
	min-height: calc(80vh - 50px);
	display: flex;
}
.full-container {
	width: 100%;
	padding: 30px;
	border: 1px solid #fff;
	@include gradient-border($main, $secondary, 2px, 'to right');
	margin: 0 30px;
	position: relative;
}


.nav {
	li {
		a:hover{
			background-color: transparent;
		}
	}
}
.navbar {
	margin-bottom: 0;
	.navbar-nav {
		li {
			a {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 12px;
			}&:hover {
				background-color: transparent;
			}
		}:hover {
			background-color: transparent;
		}
	}
	.social {
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;
		li {
			display: inline-block;
			a {
				padding: 10px 5px;
				display: block;
				font-size: 14px;
			}
		}
	}
}


.logo-area {
	position: absolute;
	bottom: 30px;
	z-index: 10;
	a.brand {
		color: #fff;
		font-size: 600%;
	}
}

section.dark-bg {
	padding: 30px;
	background-color: $dark_bg;
}

.grid {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -20px;
	.grid-item {
		background-color: $background;
		background-image: url(../img/stardust.png);
		height: 25rem;
		width: 16.666%;
		border: 10px solid $dark_bg;
		display: table;
		.post {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			text-align: center;
			-webkit-box-shadow: 5px 5px 0 0 $background;
			box-shadow: 5px 5px 0 0 $background;
		}
	}
}


footer {
	text-align: center;
	padding: 30px 0;
	ul.footer-links {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			display: inline-block;
			a {
				padding: 10px 5px;
				font-size: 24px;
			}
		}
	}
	.copyright {
		font-size: 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}