body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.8;
  font-size: 12px;
  color: #ddd;
  background-color: #161616;
  font-family: 'Noto Serif', serif;
  text-rendering: optimizeLegibility; }

img {
  display: inline-block; }

a {
  color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #ca8f48; }

section.full-image {
  background-image: url(../img/pexels-photo-14676.png);
  background-position: center center;
  background-size: cover;
  padding: 30px 0;
  min-height: calc(80vh - 50px);
  display: flex; }

.full-container {
  width: 100%;
  padding: 30px;
  border: 1px solid #fff;
  border: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #7fcfc0 0%, #b25197 100%), linear-gradient(to right, #7fcfc0 0%, #b25197 100%);
  border-left: 2px solid #7fcfc0;
  border-right: 2px solid #b25197;
  background-position: 0 0, 0 100%;
  background-size: 100% 2px;
  margin: 0 30px;
  position: relative; }

.nav li a:hover {
  background-color: transparent; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; }
  .navbar .navbar-nav li:hover {
    background-color: transparent; }
  .navbar .navbar-nav :hover {
    background-color: transparent; }
  .navbar .social {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right; }
    .navbar .social li {
      display: inline-block; }
      .navbar .social li a {
        padding: 10px 5px;
        display: block;
        font-size: 14px; }

.logo-area {
  position: absolute;
  bottom: 30px;
  z-index: 10; }
  .logo-area a.brand {
    color: #fff;
    font-size: 600%; }

section.dark-bg {
  padding: 30px;
  background-color: #222; }

.grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -20px; }
  .grid .grid-item {
    background-color: #161616;
    background-image: url(../img/stardust.png);
    height: 25rem;
    width: 16.666%;
    border: 10px solid #222;
    display: table; }
    .grid .grid-item .post {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center;
      -webkit-box-shadow: 5px 5px 0 0 #161616;
      box-shadow: 5px 5px 0 0 #161616; }

footer {
  text-align: center;
  padding: 30px 0; }
  footer ul.footer-links {
    padding: 0;
    margin: 0;
    list-style: none; }
    footer ul.footer-links li {
      display: inline-block; }
      footer ul.footer-links li a {
        padding: 10px 5px;
        font-size: 24px; }
  footer .copyright {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px; }
